.footer h1 {
  font-size: 2.5em;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.subscribe-form > input[type="text"] {
  height: 50px;

  border-bottom: 1px solid #2c3878;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  padding: 0 10px;
  font-size: 1em;
  font-family: "Poppins", sans-serif;
  color: #2c3878;
}
.subscribe-form >i{
  color: #2c3878;
  font-size: 1.5em;
  padding: 0 10px;
  margin-left: -35px;
}

.subscribe-form > input[type="text"]:focus {
  outline: none !important;
}
.social{
  margin-top: 20px;

}
.social i{
  font-size: 1em;
  color: #2c3878;
  margin: 0 10px;
  border-radius: 100%;
  background-color: rgb(186, 186, 186);
  padding: 6px;
}
