<!-- Footer -->
<div class="footer mt-5">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-5">
        <h1>Dananz</h1>
        <h2 class="text-muted">One of the best furniture agency.</h2>
      </div>

      <div class="col">

      </div>
      <div class="col-md-5">
        <p><i class="fa fa-circle " style="margin-right:8px ;font-size: 10px;"></i> Enter your email to get the latest
          news</p>
        <form class="subscribe-form">
          <input type="text" placeholder="Enter your email">
          <i class="fa fa-paper-plane"></i>
        </form>

        <div class="social">
          <p>Follow Us on</p>
          <div class="social-links">
            <i class="fab fa-facebook"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-youtube"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
