<div class="hero mt-4 pt-4">

  <div class="container px-5">
    <!-- Hero Section -->
    <div class="row gx-5 align-items-center justify-content-center">
      <div class="col-lg-12">
        <div class="my-5 ">
          <h1 class="display-5 text-center fw-bolder">Minimalist Room</h1>
          <p class="lead fw-normal text-center  text-muted mb-4">It is a long established fact that a reader will be
            distracted by
            the readable content of a page when looking at its layout. Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Voluptatibus cumque ipsum aliquid. Deleniti porro maxime ut alias natus quaerat autem
            officia, atque dolores distinctio, commodi aliquid nobis inventore amet. Quidem.</p>
          <div class="d-grid gap"></div>

          <div class="hero-img">
            <img src="assets/img/img1.jpg" alt="hero">
          </div>

          <div class="row mt-4 ">
            <div class="col-md-6 ">
              <h3 class="project-heading text-muted">Project Overview</h3>
              <p class="lead text-muted ">
                Online learning with us does not interfere with your daily life. because learning can be done anytime
                and anywhere. Online learning with us does not interfere with your daily life. because learning can be
                done anytime and anywhere. Online learning with us does not interfere with your daily life. because
                learning can be done anytime and anywhere.
              </p>
              <div class="row mt-4">
                <div class="col">
                  <p class="lead text-muted">
                    July 22 - 2022
                  </p>
                </div>
                <div class="col">
                  <p class="lead text-muted">
                    Interior Design - Furniture
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <h3 class="project-heading text-muted">Design Process</h3>
              <p class="lead text-muted">
                Online learning with us does not interfere with your daily life. because learning can be done anytime
                and anywhere. Online learning with us does not interfere with your daily life. because learning can be
                done anytime and anywhere.
              </p>
              <p class="lead text-muted">
                Online learning with us does not interfere with your daily life. because learning can be done anytime
                and anywhere. Online learning with us does not interfere with your daily life. because learning can be
                done anytime and anywhere.
              </p>
            </div>

          </div>

          <div class="row mt-4">
            <div class="col-md-6 hero-img">
              <img src="assets/img/img2.jpg" alt="">
            </div>

            <div class="col-md-6 hero-img">
              <img
                src="https://media.istockphoto.com/id/1217872501/photo/beautiful-writing-desk-modern-interior-of-the-office-in-a-luxury-villa.jpg?s=612x612&w=0&k=20&c=z_lYOgTBiXCjbsnc0V_Q90_Sfxq4WaaOLJ-6ZA53Jm0="
                alt="">
            </div>

            <div class="col-md-12 hero-img ">
              <img
                src="https://media.istockphoto.com/id/1420723850/photo/living-room-mock-up-interior-design-and-decoration.jpg?s=612x612&w=0&k=20&c=C71C3hERikXPadQXlQpTcMoQ2s2l5C2RmyFUpMuOF1A="
                alt="">
            </div>

            <div class="col-md-6 hero-img ">
              <img src="assets/img/img1.jpg" alt="">
            </div>

            <div class="col-md-6 hero-img  ">
              <img
                src="https://media.istockphoto.com/id/1278463919/photo/computer-on-a-glass-table-near-a-window-with-indoor-plants-home-office-distance-learning.jpg?s=612x612&w=0&k=20&c=5WqDPDJLUlo2KFG0Z1RUyZeFnDju0B-pICGqRBwFuqY="
                alt="">
            </div>
          </div>



        </div>
      </div>
    </div>
  </div>

  <!-- Call TO Action -->
  <div class="call-to-action">
    <div class="container px-5">
      <div class="row gx-5 ">
        <div class="col-lg-6 col-xl-6">
          <div class="my-5 ">
            <h3 class=" fw-bolder">let's discuss making your interior like a dream place!</h3>
          </div>
        </div>

        <div class="col-lg-6 col-xl-6">
          <div class="my-5 ">
            <p class=" fw-bolder">Contact us below to work together to build your amazing interior</p>
            <button class="btn bg-light btn-light">Contact Us</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
